fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
jinja2
supabase
gunicorn
aiofiles
bcrypt
pinecone-client
langchain
langchain-openai
langchain-pinecone
openai
python-docx
pypdf
tiktoken
pandas
numpy
itsdangerous==2.1.2